<a href="https://colab.research.google.com/github/kittimaxz/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # import ฟังก์ชัน pandas

In [2]:
from google.colab import drive # เชื่อม drive ของเรา ถ้าเชื่อมสำเร็จจะขึ้นคำว่าMounted at /content/drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os # จัดการเกี่ยวกับไฟล์ต่างๆ ในโฟล์เดอร์

In [4]:
path = '/content/drive/My Drive/dataviz_2021_data' # ชี้ว่า data เราอยู่โฟล์เดอร์ไหน

In [9]:
data_file_path = os.path.join(path,'pm-20-jan-2021.csv') # เอาที่อยู่ของไฟล์เชื่อมกับที่อยู่ของไฟล์เรา โดยกำหนดชื่่อไฟล์ที่เราต้องการ
data_df = pd.read_csv(data_file_path)

In [10]:
data_df.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [16]:
data_df

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

# ตรวจสอบค่าใน column

In [14]:
import numpy as np

In [15]:
set(data_df['province_of_onset']) # np.unique ใช้ได้แค่กับตัวเลข # set แสดงค่าที่เป็นตัวอักษร

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

# ต่อตาราง

* ต่อในแนวแกน Y (เพิ่มจำนวนข้อมูล)
* ต่อในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

## ต่อแกน Y

In [11]:
BKK = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร']
BKK.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [17]:
KKC = data_df[data_df['province_of_onset']=='ขอนแก่น']
KKC.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

### ต่อตารางให้เป็นข้อมูล 2 จังหวัด

In [18]:
dataBKKKKC = pd.concat([BKK,KKC])
dataBKKKKC

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

In [19]:
dataBKKKKC = pd.concat([BKK,KKC,BKK])
dataBKKKKC

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
12616  12617  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12617  12618  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618  12619  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12619  12620  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12647  12648  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[5592 rows x 10 columns]

### ถ้าเอาตารางไม่เหมือนกันมา concat กัน

In [20]:
BKK2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['sex','age','nationality']]
BKK2

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
12616   ชาย  26.0    Thailand
12617  หญิง  12.0     Ireland
12618  หญิง  34.0    Pakistan
12619  หญิง  19.0    Thailand
12647   ชาย  42.0    Thailand

[2789 rows x 3 columns]

In [21]:
KKC2 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','sex']]
KKC2

        age nationality   sex
180    33.0    Thailand   ชาย
462    36.0    Thailand  หญิง
1466   19.0    Thailand   ชาย
1970   70.0    Thailand  หญิง
2637   63.0    Thailand  หญิง
2673   68.0    Thailand   ชาย
5948   32.0    Thailand  หญิง
6082   36.0    Thailand  หญิง
9333   17.0    Thailand   ชาย
9334   20.0    Thailand   ชาย
10610  17.0    Thailand   ชาย
11517  12.0    Thailand   ชาย
11697  17.0    Thailand  หญิง
11698  37.0    Thailand  หญิง

In [24]:
KKC3 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','risk']]
KKC3

        age nationality                                           risk
180    33.0    Thailand                                        สนามมวย
462    36.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466   19.0    Thailand                  คนไทยเดินทางกลับจากต่างประเทศ
1970   70.0    Thailand  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637   63.0    Thailand                  สัมผัสผู้เดินทางจากต่างประเทศ
2673   68.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948   32.0    Thailand                              Cluster สมุทรสาคร
6082   36.0    Thailand                              Cluster สมุทรสาคร
9333   17.0    Thailand                           อยู่ระหว่างการสอบสวน
9334   20.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  17.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  12.0    Thailand                           อยู่ระหว่างการสอบสวน
11697  17.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  37.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

In [ ]:
KKC4 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality']]
KKC4

In [23]:
pd.concat([BKK2,KKC2])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    ชาย  20.0    Thailand
10610   ชาย  17.0    Thailand
11517   ชาย  12.0    Thailand
11697  หญิง  17.0    Thailand
11698  หญิง  37.0    Thailand

[2803 rows x 3 columns]

In [25]:
pd.concat([BKK2,KKC2,KKC3])

        sex   age nationality                                         risk
0      หญิง  61.0       China                                          NaN
1      หญิง  74.0       China                                          NaN
3       ชาย  68.0       China                                          NaN
4      หญิง  66.0       China                                          NaN
5      หญิง  33.0       China                                          NaN
...     ...   ...         ...                                          ...
9334    NaN  20.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610   NaN  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517   NaN  12.0    Thailand                         อยู่ระหว่างการสอบสวน
11697   NaN  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698   NaN  37.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2817 rows x 4 columns]

## ต่อแกน X

In [27]:
personal_data = data_df[['No.','sex','age','nationality']]
personal_data.head()

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [30]:
covid_data = data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1) # .sample(frac=1) สุ่มสลับข้อมูล
covid_data.head()

       No.  ...                                         risk
7280  7281  ...                                          NaN
6530  6531  ...                         อยู่ระหว่างการสอบสวน
6486  6487  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
3494  3495  ...                             State Quarantine
7745  7746  ...                             State Quarantine

[5 rows x 5 columns]

เอาตารางมาต่อกัน

In [32]:
personalcovid_data = personal_data.merge(covid_data)
personalcovid_data.head()

   No.   sex  ...  province_of_onset                              risk
0    1  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3  หญิง  ...             นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 8 columns]

In [34]:
personalcovid_data = covid_data.merge(personal_data)
personalcovid_data.head()

    No. announce_date province_of_isolation  ...   sex   age nationality
0  7281      1/2/2021             สมุทรสาคร  ...  หญิง  35.0       Burma
1  6531    12/30/2020                ชลบุรี  ...   ชาย   NaN    Thailand
2  6487    12/30/2020         กรุงเทพมหานคร  ...  หญิง  67.0    Thailand
3  3495     9/18/2020         กรุงเทพมหานคร  ...   ชาย  61.0    Thailand
4  7746      1/4/2021                ชลบุรี  ...  หญิง  23.0    Thailand

[5 rows x 8 columns]

# Save Table

In [35]:
personalcovid_data.to_csv(os.path.join(path,'my_processed_data.csv'))

In [36]:
personalcovid_data.to_csv('my_processed_data.csv')

# Groupby